body {
  margin: 0;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(./imgs/bg-img.jpg);
  background-size: 100% 100%;
}
.nav-bar-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding-top: 10px;
  align-items: center;
}
.nav-bar-icon {
  background-color: rgba(0, 0, 0, 0.323);
  border-color: rgba(0, 0, 0, 0.284);
  width: 50px;
  height: 50px;
}
.header-content-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-hd {
  font-size: 6vw;
  font-weight: 900;
}
.header-text {
  font-size: 2vw;
  font-weight: 700;
  font-style: italic;
}
.header-btn {
  height: 60px;
  border: none;
  background-color: #1d809f;
  border-radius: 5px;
  padding: 0px 30px 0px 30px;
  color: white;
  cursor: pointer;
}
.download-now-container {
  background-image: url(./imgs/bg-callout.jpg);
  background-size: 100% 100%;
}
.what-we-offer-main-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.what-we-offer-hd {
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
}
.what-we-offer-para {
  color: rgb(83, 77, 77);
  text-align: center;
  font-size: 20px;
}
.what-we-offer-btn {
  width: 160px;
  height: 60px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}
.what-we-offer-btn:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.what-we-offer-para-link {
  color: rgb(126, 178, 195);
}
.services-main-container {
  height: 80vh;
  width: 100%;
  background-color: #1d809f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services-hd {
  color: yellow;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
}
.what-our-services-hd {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
}
.service-categories-and-hd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.service-categories-container {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.service-categories {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d809f;
  font-size: 50px;
}
.categories-hd {
  color: white;
  font-weight: 600;
}

.download-now-hd-btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-now-container {
  background-image: url(./imgs/bg-callout.jpg);
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download-now-hd {
  font-size: 5vw;
  text-align: center;
  font-weight: 700;
  margin: 0px;
  line-height: 70px;
}
.download-now-btn {
  margin-top: 20px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-content {
  margin-top: 50px;
}
.portfolio-hd {
  color: #f0ba07;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}
.portfolio-content-hd {
  font-size: 4vw;
  font-weight: 700;
}
.portfolio-first-2-imgs {
  display: flex;
  width: 85%;
}
.first-img {
  background-image: url(./imgs/portfolio-1.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.first-img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.second-img {
  background-image: url(./imgs/portfolio-2.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.second-img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.portfolio-second-2-imgs {
  display: flex;
  width: 85%;
}
.third-img {
  background-image: url(./imgs/portfolio-3.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.third-img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.fourth-img {
  background-image: url(./imgs/bg-callout.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.fourth-img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.portfolio-img-hd {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.portfolio-text {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

@media (max-width: 850px) {
  .portfolio-first-2-imgs {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-second-2-imgs {
    flex-direction: column;
    align-items: center;
  }
  .first-img {
    margin-bottom: 20px;
  }
  .second-img {
    margin-bottom: 20px;
  }
  .third-img {
    margin-bottom: 20px;
  }
  .fourth-img {
    margin-bottom: 20px;
  }
  .service-categories{
    
  }
}
@media (max-width: 550px) {
  .first-img {
    margin-bottom: 20px;
    width: 95%;
  }
  .second-img {
    margin-bottom: 20px;
    width: 95%;
  }
  .third-img {
    margin-bottom: 20px;
    width: 95%;
  }
  .fourth-img {
    margin-bottom: 20px;
    width: 95%;
  }
}
